DATABASE_URL="url_do_banco"

# FireBase
FIREBASE_SERVICE_ACCOUNT_JSON="credenciais_firebase_em_base64"
NEXT_PUBLIC_FIREBASE_VAPID_KEY="vapidKey"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="idProjeto"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="authDomain"
NEXT_PUBLIC_FIREBASE_API_KEY="apiKey"